.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  width: 240px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 100px;
}

.cards__item:nth-of-type(3n) {
  margin: 0;
}
