@import url("./_theme/table__text_theme_dark.css");

.table__text {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
